body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: #212121;
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
  font-style: normal;
  background-color: #ffffff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.none-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team, .customers {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team, .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section, .main-content, .team, .customers {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .section, .main-content, .team, .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.btn, .button-sign-up {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  display: inline-block;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
}

.team-social-link-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 12px;
  color: #afb1b8;
  background-color: #ffffff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link-item:hover, .team-social-link-item:focus {
  background-color: #2196f3;
}

.socials-icons {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icons:hover, .socials-icons:focus {
  fill: #ffffff;
}

.footer-social-link-item {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link-item:hover, .footer-social-link-item:focus {
  background-color: #2196f3;
}

.page-header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}

.page-header a {
  text-decoration: none;
}

.site-logo, .bottom {
  display: block;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .site-logo, .bottom {
    margin-right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .site-logo, .bottom {
    margin-right: 85px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.site-logo-web {
  color: #2196f3;
}

.burger-menu {
  width: 40px;
  height: 40px;
  border: none;
  position: relative;
  background-color: transparent;
  border: none;
}

.burger-menu-close {
  display: none;
}

.burger-menu-close:hover {
  fill: #2196f3;
}

.burger-menu.is-open .burger-menu-close {
  display: block;
}

.burger-menu.is-open .burger-menu-open {
  display: none;
}

.burger-menu:hover .burger-menu-open {
  fill: #2196f3;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-wrapper {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #ececec;
  position: absolute;
  top: 100%;
  left: 0;
  text-align: center;
  background-color: #ffffff;
  display: none;
}

.menu-wrapper.is-open {
  display: block;
  z-index: 100;
}

.site-nav-item a {
  font-size: 18px;
  line-height: 1.16;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .site-nav-item a {
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.site-nav-item:last-child {
  margin-bottom: 60px;
}

.site-nav-link {
  position: relative;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover, .site-nav-link:focus {
  color: #2196f3;
}

.site-nav-link.current {
  color: #2196f3;
}

.site-nav-contacts a {
  font-weight: 500;
  color: #757575;
  letter-spacing: 0.02em;
}

.site-nav-contacts:first-child {
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .site-nav-contacts + .site-nav-contacts {
    margin-left: 50px;
  }
  .site-nav-contacts:first-child {
    margin-bottom: 0;
  }
}

.sn-contacts-link {
  display: inline-flex;
  align-items: center;
  color: #757575;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.17;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sn-contacts-link:hover, .sn-contacts-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .sn-contacts-link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .sn-contacts-link {
    font-size: 14px;
    line-height: 1.17;
  }
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.menu-position::after {
  width: 80px;
  content: "";
  display: block;
  background-color: #2196f3;
  height: 4px;
  border-radius: 2px;
  opacity: 0;
  margin: 0 auto;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .menu-position::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.current .menu-position::after {
  opacity: 1;
}

.menu-position {
  position: relative;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .site-nav-list {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .site-nav-item {
    position: relative;
  }
  .site-nav-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
  .site-nav-item:last-child {
    margin-bottom: 0;
  }
  .menu-wrapper {
    display: flex;
    align-items: center;
    padding: 0;
    position: static;
  }
  .site-navigation-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    margin-left: 85px;
  }
  .page-nav {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .menu-position {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .site-navigation-contacts {
    align-items: center;
    flex-direction: row;
    margin-left: auto;
  }
}

.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-hero {
  max-width: 360px;
  margin: 0 auto 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  color: #ffffff;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .head-hero {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .head-hero {
    max-width: 696px;
    margin: 0 auto 30px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
  }
}

.hero {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../../img-adaptive/header.png");
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img-adaptive/header@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img-adaptive/headertablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img-adaptive/headertablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img-adaptive/desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img-adaptive/desktop@2x.jpg");
  }
}

.btn, .button-sign-up {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.86;
  font-color: #ffffff;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
}

.features-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features-section {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.features-title {
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0 10px;
}

.features-text {
  line-height: 1.5;
  color: #757575;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    flex-wrap: nowrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .features-list-item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list-item {
    width: calc((100% - 90px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .features-list-item:last-child {
    margin-bottom: 0;
  }
}

.features-icon-container {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  text-align: center;
  padding: 25px 103px;
}

@media screen and (max-width: 1199px) {
  .main-content {
    display: none;
  }
}

.main-content-list {
  display: flex;
}

.main-content-list-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  position: relative;
}

.main-content-list-item:last-child {
  margin-right: 0;
}

.main-content-title {
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.features-list-item:last-child,
.team-list-item:last-child,
.site-nav-item:last-child {
  margin-right: 0;
}

.head-title {
  margin: 0 auto 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .head-title {
    margin-bottom: 50px;
  }
}

.team, .customers {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-wrap: no-wrap;
  }
}

.team-socials-item:not(:last-child) {
  margin-right: 10px;
}

.team-list-content {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-list-name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
}

.team-list-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
}

.team-list-item {
  box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
}

.team-list-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .team-list-item:last-child {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item:last-child {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .team-list-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.team-socials-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .team-socials-list {
    margin: 0 auto;
  }
}

.customers {
  background-color: #ffffff;
}

.customers-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .customers-list {
    flex-wrap: nowrap;
  }
}

.customers-list-item {
  width: 210px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .customers-list-item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list-item {
    width: calc((100% - 150px) / 6);
  }
}

.customers-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  background-color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover, .customers-list-link:focus {
  border-color: #2196f3;
}

.company-logo {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover .company-logo, .customers-list-link:focus .company-logo {
  fill: #2196f3;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin: 0;
    width: 235px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .main-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

footer {
  background-color: #2f303a;
}

.bottom {
  margin-bottom: 20px;
  padding: 0;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .bottom {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .bottom {
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.adress-street {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  color: #ffffff;
}

.address-link {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .address-link {
    display: flex;
  }
}

.mail {
  margin-bottom: 9px;
}

.footer-socials {
  margin: 0 auto;
  margin-bottom: 60px;
  width: 206px;
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 94px;
  }
}

.footer-socials-list a {
  text-decoration: none;
}

.footer-socials-list {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-text {
    align-self: flex-start;
  }
}

footer .form-field {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  footer .form-field {
    display: flex;
    flex-direction: column;
  }
}

.form-frame {
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .form-frame {
    display: flex;
    align-items: baseline;
    margin: 0;
  }
}

footer .form-label {
  display: block;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 20px;
}

.footer-input {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  outline: none;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
    height: 46px;
  }
}

.form-frame input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.button-sign-up {
  display: block;
  position: relative;
  text-align: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: none;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 26px;
}

@media screen and (min-width: 1200px) {
  .button-sign-up {
    margin-left: 12px;
    display: inline-flex;
    align-items: center;
    border: none;
  }
}

.button-icon {
  position: absolute;
  top: 25%;
  right: 13px;
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .button-icon {
    margin-left: 10px;
  }
}

.form-footer .footer-input {
  margin-bottom: 0;
}

.form-footer .form-label {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .form-footer .form-label {
    margin: 0;
    margin-bottom: 20px;
    align-self: flex-start;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.form-footer .footer-input {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .sign-up {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  overflow-y: scroll;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 609px;
  width: 450px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    min-width: 528px;
  }
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
}

.button-modal:hover {
  border-color: #2196f3;
}

.button-modal:hover .close-icon {
  fill: #2196f3;
}

.form-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.wrapper-input {
  position: relative;
}

.form-input {
  width: 370px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .form-input {
    width: 448px;
    height: 40px;
  }
}

.input-icon {
  position: absolute;
  transform: translateY(-50%);
  left: 15px;
  top: 50%;
}

.wrapper-input:focus-within > .input-icon {
  fill: #2196f3;
}

.wrapper-input:focus-within .form-input {
  outline: none;
  border-color: #2196f3;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label-modal {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-comment {
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
}

.form-comment:focus {
  outline: none;
  border-color: #2196f3;
}

.field-comment {
  margin-bottom: 20px;
}

.field-checkbox {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-submit {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.form-field > label {
  margin-bottom: 4px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url("../img-copy/icons/iconcheck.svg");
  background-size: contain;
  border: 0.2px solid #2196f3;
  background-origin: border-box;
}

.checkbox:checked ~ .label {
  transform: scale(1.1);
}

.checkbox:checked ~ .checkbox-icon {
  transform: translateX(-20px);
}

.label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .label {
    line-height: 1.714;
  }
}

.close-icon:hover {
  fill: #2196f3;
}

.close-icon {
  position: relative;
  z-index: 101;
}
/*# sourceMappingURL=main.css.map */