.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-hero {
  max-width: 360px;
  margin: 0 auto 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  color: $accent-color;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  @include tablet() {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }

  @include desktop() {
    max-width: 696px;
    margin: 0 auto 30px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
  }
}

.hero {
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../../img-adaptive/Header\ img.png");

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../img-adaptive/Header\ img@2x.png");
  }

  @include tablet() {
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../img-adaptive/Headertablet.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../../img-adaptive/Header\ tablet@2x.jpg");
    }
  }

  @include desktop() {
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../../img-adaptive/Desktop.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../../img-adaptive/Desktop@2x.jpg");
    }
  }
}

.btn {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  display: inline-block;

  @include font(16px, 700, 1.86, $accent-color, 0.06em);

  border: none;
  border-radius: 4px;
  background-color: $hover-color;
  color: $accent-color;
}
