.main-content {
  @extend .section;

  @media screen and(max-width:1199px) {
    display: none;
  }
}

.main-content-list {
  display: flex;

  &-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    position: relative;
  }

  &-item:last-child {
    margin-right: 0;
  }
}

.main-content {
  &-title {
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 27px;
    position: absolute;
    bottom: 0;
    width: 100%;

    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $accent-color;

    background-color: rgba(47, 48, 58, 0.8);
  }
}

.features-list-item:last-child,
.team-list-item:last-child,
.site-nav-item:last-child {
  margin-right: 0;
}

.head-title {
  margin: 0 auto 30px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  @include desktop() {
    margin-bottom: 50px;
  }
}
