.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  overflow-y: scroll;
  transform: scale(1);
  transition: opacity 250ms $cubic-timing,
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 609px;
  width: 450px;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @include desktop() {
    min-height: 581px;
    min-width: 528px;
  }
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $accent-color;
  border-radius: 50%;

  &:hover {
    border-color: $hover-color;
  }
}

.form-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.wrapper-input {
  position: relative;
}

.form-input {
  width: 370px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  @include desktop() {
    width: 448px;
    height: 40px;
  }
}

.input-icon {
  position: absolute;
  transform: translateY(-50%);
  left: 15px;
  top: 50%;
}

.wrapper-input:focus-within {
  & > .input-icon {
    fill: $hover-color;
  }
  .form-input {
    outline: none;
    border-color: $hover-color;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label-modal {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-comment {
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;

  &:focus {
    outline: none;
    border-color: $hover-color;
  }
}

.field-comment {
  margin-bottom: 20px;
}

.field-checkbox {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-submit {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.form-field > label {
  margin-bottom: 4px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid $primary-text-color;
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked {
  & + .checkbox-icon {
    background-color: $hover-color;
    background-image: url("../img-copy/icons/iconcheck.svg");
    background-size: contain;
    border: 0.2px solid $hover-color;
    background-origin: border-box;
  }
  & ~ .label {
    transform: scale(1.1);
  }
  & ~ .checkbox-icon {
    transform: translateX(-20px);
  }
}

.label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $text-color;
  transition: transform 250ms $cubic-timing 250ms, transform 250ms $cubic-timing;

  @include desktop() {
    line-height: 1.714;
  }
}

.close-icon:hover {
  fill: $hover-color;
}

.close-icon {
  position: relative;
  z-index: 101;
}
