.portfolio {
  @extend .team;
  background-color: $accent-color;
}

.port-menu-list {
  margin-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include tablet() {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }

  @include desktop() {
    margin-bottom: 56px;
  }
}

.button-menu {
  min-width: 73px;
  padding: 6px 22px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: $primary-text-color;
  background-color: #f5f4fa;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms $cubic-timing, color 250ms $cubic-timing;

  &:hover,
  &:focus {
    background-color: $hover-color;
    color: $accent-color;
    cursor: pointer;
  }

  @include desktop() {
    font-weight: 500;
  }
}

.port-menu-list-item {
  margin-right: 8px;
  margin-bottom: 21px;

  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  @include tablet() {
    margin-bottom: 0;
  }
}

.example-list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
  @include desktop() {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.example-list-item {
  width: 450px;
  margin-bottom: 30px;
  background: $accent-color;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet() {
    &:nth-child(even) {
      margin-right: 0;
    }
  }

  @include tablet {
    width: 354px;
    margin-right: 30px;
  }

  @include desktop {
    width: 370px;
    margin: 15px;
  }

  // &:nth-child(3n + 3) {
  //   margin-right: 0;
  // }

  // &:nth-last-child(-n + 3) {
  //   margin-bottom: 0;
  // }
}

// .example-list-item {
//   .example-list-content & {
//     width: calc((100% - 60px) / 3);
//   }
// }

.product-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: flex;
  align-items: center;
  position: absolute;
  transform: translateY(102%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  justify-content: center;
  padding: 77px 24px;

  transition: transform 250ms $cubic-timing;

  @include tablet() {
    padding: 49px 24px;
  }

  @include desktop() {
    padding: 63px 24px;
  }
}

.example-list-link:hover .overlay,
.example-list-link:focus .overlay {
  transform: translateY(0);
}

.example-list a {
  display: block;
  text-decoration: none;
}

.example-list-content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.example-list-title {
  margin: 0 0 4px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $primary-text-color;
}

.example-list-text {
  font-size: 16px;
  line-height: 1.88;
  color: $text-color;
}

.animation {
  width: 402px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;

  .example-list-item:hover & {
    opacity: 1;
  }

  @include tablet {
    width: 306px;
  }
}
